<h2 mat-dialog-title>{{ 'quick_settings' | translate }}</h2>

<mat-dialog-content class="qs-content">
  <div class="qs-body">
    @if (showField(QuickSettingsField.THEME)) {
      <app-toggle class="theme-selector" [field]="themeField" [control]="themeControl"></app-toggle>
    }
    @if (showField(QuickSettingsField.LANGUAGE)) {
      <app-select [field]="langField" [control]="langControl"></app-select>
    }

    @if (showField(QuickSettingsField.AI_SETTINGS)) {
      @if (aiValueField.options && aiValueField.options.length > 0) {
        <h3 class="qs-section-label">{{ 'ai_settings' | translate }}</h3>
      }

      @if (
        aiScopeField.options &&
        aiScopeField.options.length > 0 &&
        aiValueField.options &&
        aiValueField.options.length > 0
      ) {
        <app-select [field]="aiScopeField" [control]="aiScopeControl"></app-select>
      }

      @if (
        aiKeyField.options &&
        aiKeyField.options.length > 0 &&
        aiValueField.options &&
        aiValueField.options.length > 0
      ) {
        <app-select [field]="aiKeyField" [control]="aiKeyControl"></app-select>
      }

      @if (aiValueField.options && aiValueField.options.length > 0) {
        <app-select [field]="aiValueField" [control]="aiValueControl"></app-select>
      }
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">{{ 'common.close' | translate }}</button>
</mat-dialog-actions>
