<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isOpen" class="side-nav" [fixedInViewport]="true">
    <div class="nav-title">
      <a routerLink="/" [attr.aria-label]="'navigation_home' | translate" role="link">
        <img [src]="logoUrl" alt="Logo" class="logo" />
        {{ 'navigationTitle' | translate }}
      </a>
    </div>

    <mat-nav-list class="menu-list">
      @for (item of menuItems; track item.route) {
        <a
          mat-list-item
          [class.isDark]="isDark$ | async"
          class="menu-link"
          [routerLink]="item.route"
          routerLinkActive="active"
          [matTooltip]="!isOpen ? item.label : ''"
          matTooltipPosition="right"
        >
          <mat-icon [color]="'primary'">{{ item.icon }}</mat-icon>
          <span class="menu-label">{{ item.label | translate }}</span>
        </a>
      }
    </mat-nav-list>

    <div class="switchers-trigger" [class.collapsed]="!isOpen">
      <button
        mat-button
        class="quick-settings primary"
        (click)="openSwitchers()"
        matTooltip="{{ 'quick_settings' | translate }}"
        [matTooltipPosition]="isOpen ? 'above' : 'right'"
        aria-label="Open quick settings"
      >
        <mat-icon>tune</mat-icon>
        @if (isOpen) {
          <span class="btn-label">{{ 'quick_settings' | translate }}</span>
        }
      </button>
    </div>

    <!-- Dialog content -->
    <ng-template #switchersTpl>
      <div class="switchers-dialog">
        <!-- Theme -->
        <app-toggle
          class="theme-selector"
          [field]="themeField"
          [control]="themeControl"
        ></app-toggle>

        <!-- Language -->
        <app-select [field]="langField" [control]="langControl"></app-select>

        <h3 class="section-label">{{ 'ai_settings' | translate }}</h3>
        <!-- AI Scope / Key / Value -->
        @if (
          aiScopeField.options &&
          aiScopeField.options.length > 0 &&
          aiKeyField.options &&
          aiKeyField.options.length > 0 &&
          aiValueField.options &&
          aiValueField.options.length > 0
        ) {
          <app-select [field]="aiScopeField" [control]="aiScopeControl"></app-select>
        }
        @if (aiKeyField.options && aiKeyField.options.length > 0) {
          <app-select [field]="aiKeyField" [control]="aiKeyControl"></app-select>
        }
        @if (aiValueField.options && aiValueField.options.length > 0) {
          <app-select [field]="aiValueField" [control]="aiValueControl"></app-select>
        }
      </div>
    </ng-template>

    <!-- USER PANEL -->
    @if (profile$ | async; as p) {
      <div class="user-panel" [class.collapsed]="!isOpen">
        <button
          mat-button
          class="user-trigger primary"
          [matMenuTriggerFor]="userMenu"
          [attr.aria-label]="displayName(p)"
          [color]="'primary'"
        >
          <mat-icon class="avatar" [color]="'primary'">account_circle</mat-icon>
          @if (isOpen) {
            <div class="user-meta">
              <div class="user-name">{{ displayName(p) }}</div>
              <div class="user-email">{{ p.email }}</div>
            </div>
          }
        </button>

        <mat-menu #userMenu="matMenu">
          @for (r of (roles$ | async) ?? []; track r) {
            <p mat-menu-item>{{ r }}</p>
          }
          <button mat-menu-item (click)="logout()" class="primary">
            <mat-icon>logout</mat-icon>
            <span>{{ 'Logout' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    }

    <div class="version-wrapper">
      <small class="version">v{{ version }}</small>
    </div>
  </mat-sidenav>

  <mat-sidenav-content #sidenavContent>
    <mat-toolbar color="primary" [class.scrolled]="isScrolled">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="title-breadcrumb">
        <span class="title">
          {{ title$ | async }}
        </span>
        <app-breadcrumb [items]="breadcrumbItems$ | async"></app-breadcrumb>
      </div>

      <span class="spacer"></span>

      <div class="custom-btns">
        @for (a of (toolbarActions$ | async) ?? []; track a.id) {
          @if ((a.visible$ | async) ?? true) {
            @if ((a.variant ?? 'icon') === 'icon') {
              <button
                mat-icon-button
                [color]="a.color || 'primary'"
                [class]="a.class || ''"
                [matTooltip]="a.tooltip || '' | translate"
                [disabled]="a.disabled$ | async"
                (click)="a.click()"
              >
                <mat-icon [color]="a.color || 'primary'" [class]="a.class || ''">{{
                  a.icon
                }}</mat-icon>
              </button>
            } @else if (a.variant === 'stroked') {
              <button
                mat-stroked-button
                [color]="a.color || 'primary'"
                [class]="a.class || ''"
                [matTooltip]="a.tooltip || '' | translate"
                [disabled]="a.disabled$ | async"
                (click)="a.click()"
              >
                @if (a.icon) {
                  <mat-icon [color]="a.color || 'primary'" [class]="a.class || ''">
                    {{ a.icon }}</mat-icon
                  >
                }
                {{ a.label | translate }}
              </button>
            } @else if (a.variant === 'raised') {
              <button
                mat-raised-button
                [color]="a.color || 'primary'"
                [class]="a.class || ''"
                [matTooltip]="a.tooltip || '' | translate"
                [disabled]="a.disabled$ | async"
                (click)="a.click()"
              >
                @if (a.icon) {
                  <mat-icon [color]="a.color || 'primary'" [class]="a.class || ''">{{
                    a.icon
                  }}</mat-icon>
                }
                {{ a.label | translate }}
              </button>
            } @else {
              <button
                mat-flat-button
                [color]="a.color || 'primary'"
                [class]="a.class || ''"
                [matTooltip]="a.tooltip || '' | translate"
                [disabled]="a.disabled$ | async"
                (click)="a.click()"
              >
                @if (a.icon) {
                  <mat-icon [color]="a.color || 'primary'" [class]="a.class || ''">{{
                    a.icon
                  }}</mat-icon>
                }
                {{ a.label | translate }}
              </button>
            }
          }
        }
      </div>
    </mat-toolbar>

    <main class="app-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
